//Blog homepage styles


//body class
.blog
{

	//content wrapper with custom background
	&-wrapper
	{

		&>#content
		{
			background: url('../img/blog-top.png') top center, 
			url('../img/blog-bottom.png') bottom center, 
			white;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
	
	&__sidebar
	{

		margin-bottom: 10px;
		
		padding: 4%; /* Blog Hack - Tim */
		
		grid-column: 1/span 2;

		@include media-breakpoint-up(md)
		{
			grid-column: 3;
			grid-row: 2/span 3;
			margin-bottom: 0;
		}
		.custom-html-widget
		{
			@extend .text-center;
			margin-bottom: 60px; /* Blog Hack - Tim */
		}

		/* Search form */
		.search-form
		{

			margin: 0 0 25px 0;
			@extend .text-center;


			&__input-wrapper
			{

			}

			&__search-input
			{
				border-radius: 0;
				padding: 0.2rem 0.5rem;
				font-size: 1rem;
				font-weight: 300;

				background-color: color(form-background);
				border: none;
				color: color(form-gray);
				line-height: 2;
				margin-bottom: 10px;
				text-align: center;
				width: 100%;

				&:placeholder 
				{
					color: color(form-gray);
				}
			}

			&__search-button
			{
				@extend .button;
				@extend .button--small;
				//@extend .button--yellow;
			}
		}

		/* social icons */
		.social-icons
		{

		    display: grid;
		    grid-template-columns: 1fr 1fr 1fr 1fr;
		    grid-gap: 5px;
		    margin-bottom: 25px;

		    &>a, &>img
		    {

		    }

			img
			{
				max-width: 48px;
			}
		}

		/* signup form */
		.form-icon
		{
			width: 75px;
			margin-bottom: 15px; /* Blog Hack - Tim */
		}

		.mc4wp-form
		{
			text-align: center;

			input {
				
				&[type='text'], &[type='email'] {
					background-color: color(form-background);
					border: none;
					color: color(form-gray);
					line-height: 2;
					margin-bottom: 10px;
					text-align: center;
					width: 100%;
					height: 46px; /* Blog Hack - Tim */

					&::placeholder 
					{
						color: color(form-gray);
					}
				}

				&[type='submit']{
					@extend .button;
					@extend .button--gray;
					margin-top: 8px; /* Blog Hack - Tim */
				}
			}
		}
	}
}


/* hacks to get the blog up to spec (by tim) */

.blog .heading--white-on-pink {
   margin: 32px 0 23px 0;
   padding: 10px 24px; 
}

.sidebar-promo {
	margin-bottom: 28px;
}

p.sidebar-promo-copy {
	padding: 0 15px;
    line-height: 1.3em;
    margin-bottom: 10px;
}

a.sidebar-promo-link {
	text-transform: uppercase;
	font-weight: bolder;
}

.sidebar-form {
	margin-bottom: 15px;
}