.button
{
    background-color: $yellow;
    padding: .5rem 2rem;
    border: 0;
    border-radius:100px;
    color:white;
    font-weight:300;
    font-size: 1.75rem;
    display: inline-block;

    @include media-breakpoint-down(sm)
    {
        font-size: 1.1rem;
    }

    &--white
    {
        background-color:white;
        color:$pink;
    }

    &--teal 
    {
        background-color: $teal;
        color: $white;
    }
    &--gray
    {
        background-color: $form-button;
    }
    &--white:hover
    {
        background-color:white;
        color:$gray !important;
    }
    &--small
    {
        padding: 0.1rem 0.5rem;
        font-size: 1rem;

        @include media-breakpoint-down(sm)
        {
            font-size: 1.25rem;
        }
    }


    &--medium
    {
        font-size:1rem;

        @include media-breakpoint-down(sm)
        {
            font-size: 1.25rem;
        }
    }

    /* Default: 1.75rem */

    &--large {
        font-size: 2.5rem;
        text-align: center;

        @include media-breakpoint-down(sm)
        {
            font-size: 2.5rem; //don't let default override on media query
        }
    }

 /*   &--jumbo {
        font-size: 1.875rem;
        text-align: center;

        @include media-breakpoint-down(sm)
        {
            font-size: 3.5rem;
        }
    }*/

    &:hover
    {
        color:white;
        cursor: pointer;
    }
}
