.button
{
    background-color: $yellow;
    padding: .5rem 2rem;
    border-radius:100px;
    color:white;
    font-weight:300;
    display: inline-block;
    /*text-transform: uppercase;*/
    &--white
    {
        background-color:white;
        color:$pink;
    }

    &--teal 
    {
        background-color: $teal;
        color: $white;
    }
    &--gray
    {
        background-color: $form-button;
    }
    &--white:hover
    {
        background-color:white;
        color:$gray !important;
    }
    &--small
    {
        padding: 0.1rem 0.5rem;
    }

    &--large {
        //width: 100%;
        font-size: 1.5rem;
        text-align: center;
    }

    &:hover
    {
        color:white;
    }
}
