
@import "helpers";
@import "typography";
@import "testimonial";
@import "blog";
@import "button";
@import "child_navbar";
@import "hero";
@import "icon-item";
@import "image-item";
@import "filter-button";
@import "page-section";
@import "post-preview";
@import "post-card";
@import "featured_post_carousel";
@import "featured_product";
@import "post-intro";
@import "podcast-intro";
@import "podcast-row";
@import "post-single";
@import "pull-quote";
@import "featured-post";
@import "hr";
@import "post-thumb";
@import "post-image";
@import "event-summary";
@import "page-heading";
@import "page-hero";
@import "search-form";
@import "stats-counter";
@import "footer";
@import "page-wrapper";
@import "sidebar-cta-card";
@import "home-email-signup-form";
@import "background-video";
@import "video-feature";
@import "faq";
@import "landing-page";
@import "tgn-page";
@import "wp-shopify";
@import "slick";
@import "../assets/slick";
@import "../assets/font-awesome";

/* Main Styles */

// body styles. See typography for default text styles
body
{
    padding-top:96px;
    background-color: $teal;
    line-height: 1.2;


    
    @include media-breakpoint-down(sm)
    {
        padding-top:126px;
        
        #page
        {
            overflow-x: hidden;
        }
    }
}

.wrapper
{
    padding-top:0px;
    padding-bottom:0px;
    margin-left: 9px;
    margin-right: 9px;
}

.navbar .navbar-container, #content {

    @include media-breakpoint-down(xl){
        //@extend .container-fluid:
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        //margin-left: 9px;
        //margin-right: 9px;
    }

    @include media-breakpoint-up(dx){
        //@extend .container:
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-left: none;
        margin-right: none;
        max-width: breakpoint-min(dx); //$container-max-widths('dx'); //1350px
    } 
}

// WordPress-specific Styling
figcaption.wp-caption-text
{
    color:$primary;
    font-weight:300;
    font-style: italic;
    padding:.8rem 0;
    font-size:0.8rem;
}

#content {
    background-color: $white;
}

.content__col-12 {
    padding-left: 0;
    padding-right: 0;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;

    iframe, object, embed { 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.entry-footer
{
    padding-bottom:2rem;
    padding-top:2rem;
}

// Theme overrides

.pagination
{
    justify-content: center;
}

.blog ul.pagination {
	padding-bottom: 20px;
}

.page-item.active .page-link
{
    background-color:$pink;
    border-color:$pink;
}

li.page-item {
	font-size: 1.25em;
}

.page-link
{
    color:$pink;
    border: none;
    padding:.5em 1em;
}

/* Custom CSS */

// Basic Table Styles - DON: We should pull out into a _table.scss file and BEMify to the extent possible
table.table-borderless {
    td {
        color:$teal;
        padding:1rem;
    }
}

.video-mobile-bg {
    background-image:url('https://staging4.mytruegirl.com/wp-content/uploads/2019/07/LiveEventsBkgd.jpg') !important;
    // DON: Very ugly hack here! We should clean up the shortcode for background videos
}

.about-page-heading
{
    //Extreme hack to move that pink heading for this specific page
    @media (min-width: 768px) {
        margin-left: -5rem !important;
        margin-top: -4.5rem !important;
    }
    @media (min-width: 993px) {
        margin-left: -4rem !important;
        margin-top: -4.5rem !important;
    }
}

/* Correct <strong> boldness */

strong
{
    font-weight: 900;
}

/* Mobile Sizing */
//TODO: might be irrelevant now;
@media (max-width: 767px)
{

    // .page-section__content-wrapper {
    //     padding-left: 0;
    //     padding-right: 0;
    // }

    // .col, .col-sm-4, .col-sm-8, .col-md-4, .col-md-8 {
    //     &:not(.mobile-full-width) {
    //         padding: 0px 50px;
    //     }
    // }

    #content>.row>.col-12 {
        padding: 0;
    }
}


.wp-block-column
{

    @media (min-width: 600px)
    {
        
        flex-basis: 100%;

        &:nth-child(2n)
        {
            margin-left:inherit;
        }

    }
}

/* Mailchimp forms */

.mc-page-form
{
    h2
    {
        font-size: 30pt;
        font-weight: 900;
        line-height: 1;
        margin-bottom: 1.2rem;

        @include media-breakpoint-down(sm)
        {
            font-size: 20pt;
        }
    }

    h3
    {
        @include media-breakpoint-down(sm)
        {
            font-size: 14pt;
        }
    }

    .mc4wp-form
    {
        width: 100%;

        .form-group .row div
        {
            margin-left: 2px;
            margin-right: 2px;
        }

        input
        {
            margin-bottom: 10px;

            &.button
            {

                @extend .button--medium;
                padding: .75rem 2rem;

                @media (max-width:768px)
                {
                    margin:auto;
                }
            }
        }

        .mc4wp-response, 
        .mc4wp-alert 
        .mc4wp-notice
        {
            color: $white;
            font-size: 1.25rem;
        }
    }
}

/* Text Feature */

.text-feature
{
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 1px;
    padding-top:2rem;
    padding-bottom:2rem;

    &__inner
    {
        margin-top:2rem;
        margin-bottom:2rem;
    }
    .divider-top {
        margin-bottom: 1.75rem;
    }

    .divider-bottom {
        margin-top: 1.75rem;
    }
}



/* Section Headers */

.section-header
{
    display: table;
    text-align: center;
    height: 120px;

    &__10
    {
        @extend .col-md-10;
        @extend .offset-md-1;
    }

    &__8
    {
        @extend .col-md-8;
        @extend .offset-md-2;
    }

    &__6
    {
        @extend .col-md-6;
        @extend .offset-md-3;
    }

    &__text
    {
        color: color(white);
        display: table-cell;
        font-family: font(shark);
        font-size : 48px;
        margin-bottom: 0;
        text-transform: uppercase;
        vertical-align: middle;
        padding: 2rem 5rem;
        letter-spacing: 6px; 
        // DON: I don't like hardcoding letter-spacing as part of the theme, 
        // but it's pretty necessary when using that Shark font to align with the comps. 
        // Maybe we pull into a setting?

        @media (max-width: 1200px )
        {
            font-size:40px;
        }

        @media (max-width: 993px )
        {
            font-size:40px;
            padding: 2rem 1rem;
        }

       @include media-breakpoint-down(sm)
        {
            font-size: 1.7rem;
            letter-spacing: 3px;
            padding: 2rem 0;
        }

        &--large
        {
            font-size: 75px;

            @media (max-width: 1200px )
            {
                font-size:56px;
            }

            @media (max-width: 993px )
            {
                font-size:48px;
                padding: 2rem 1rem;
            }

           @include media-breakpoint-down(sm)
            {
                font-size: 1.7rem;
                letter-spacing: 3px;
                padding: 2rem 0;
            }
        }

        &--small
        {
            font-size: 36px;
        }

        //<small> inside of section header shortcode
        small
        {
            font-family: font(goudysans);
            font-size: 24px;
        }

    }
}

/* Testimonials */

.testimonial_small
{
    /*margin-left:40px;
    margin-right:40px;*/
    max-width: 405px;
    margin: auto;
    @media (max-width:993px)
    {
       /* margin-left: 20px;
        margin-right: 20px;*/
    }

    &__attribution
    {
        color: $pink;
        font-family: "Myriad Pro";
        font-weight: bold;
        font-size: 1.25rem;
        margin-top: 10px;
    }
}

/* Map Section */

.map-container
{
    display: table-cell;
    margin: auto;
}

.mejs-audio
{
    width: 240px !important;
}
