// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  dx: 1458px//1368px
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  dx: 1440px//1350px
) !default;

//
// Color system
//

$pink: #c83b94;
$dark-pink: #B94691;
$teal: #00bcd6;
$yellow: #fdbD10;
$light-teal: #E5F5F8;
$white: #ffffff;
$light-gray: #c9c9c9;
$form-gray: #939495;
$author-background: #e2e2e2;
$form-background: #EFEFF0;
$form-button: #6F6F6F;
$gray: #525252;
$dark-gray: #282828;
$black: #000000;

$primary: $teal;
$alternate: $pink;


$body-color: $gray;
$feature-color: $teal;
$header-color: $white;
$header-bg-color: $pink;
$button-color: $white;
$button-bg-color: $yellow;
$footer-background-color: $white;

$colors: (
	pink: #c83b94,
	dark-pink: #b94691,
	teal: #00bcd6,
	light-teal: #E5F5F8,
	yellow: #fdbD10,
	gray: #525252,
	light-gray: #c9c9c9,
	form-gray: #939495,
	form-background: #EFEFF0,
	form-button: #6F6F6F,
	dark-gray: #282828,
	white: #ffffff,
	black: #000000
);

// _functions.scss
@function color($key) {
	@if map-has-key($colors, $key) {
		@return map-get($colors, $key);
	}

	@warn "Unknown `#{$key}` in $colors.";
	@return null;
}

$body-font:"GoudySans Md BT";

$header-font:"Shark Random Funnyness";

$fonts: (
	"GoudySans Md BT": "../fonts/GoudySansMediumBT.ttf",
	"GoudySans Bold BT": "../fonts/GoudySansBoldBT.ttf",
	"Shark Random Funnyness": "../fonts/Shark_Random_Funnyness.ttf",
	"Impervious": "../fonts/impervious.ttf"
);

$fontnames: (
	goudysans:	"GoudySans Md BT",
	shark:		"Shark Random Funnyness",
	impervious: "Impervious"
);

@function font($key) {
	@if map-has-key($fontnames, $key) {
		@return map-get($fontnames, $key);
	}

	@warn "Unknown `#{$key}` in $fontnames.";
	@return null;
}