
@import "helpers";
@import "typography";
@import "testimonial";
@import "blog";
@import "button";
@import "child_navbar";
@import "hero";
@import "icon-item";
@import "image-item";
@import "filter-button";
@import "page-section";
@import "post-preview";
@import "post-card";
@import "featured_post_carousel";
@import "featured_product";
@import "post-intro";
@import "podcast-intro";
@import "podcast-row";
@import "post-single";
@import "pull-quote";
@import "featured-post";
@import "hr";
@import "post-thumb";
@import "post-image";
@import "event-summary";
@import "page-heading";
@import "page-hero";
@import "search-form";
@import "stats-counter";
@import "footer";
@import "page-wrapper";
@import "sidebar-cta-card";
@import "home-email-signup-form";
@import "background-video";
@import "faq";
@import "wp-shopify";
@import "slick";
@import "../assets/slick";
@import "../assets/font-awesome";

/* Main Styles */

// body styles. See typography for default text styles
body
{
    padding-top:160px;
    background-color: $teal;

    @media (min-width: 769px)
    {
        padding-top:100px;
    }
}

.wrapper
{
    padding-top:0px;
    padding-bottom:0px;
    margin-left: 9px;
    margin-right: 9px;
}

.navbar {
    margin-left: 9px;
    margin-right: 9px;
}

.navbar .navbar-container, #content {

    @include media-breakpoint-down(xl){
        //@extend .container-fluid:
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        //margin-left: 9px;
        //margin-right: 9px;
    }


    @include media-breakpoint-up(dx){
        //@extend .container:
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-left: none;
        margin-right: none;
        max-width: breakpoint-min(dx); //$container-max-widths('dx'); //1350px
    } 
}

.navbar .navbar-container {
    //@include media-breakpoint-down(xl){
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    //}
}

// WordPress-specific Styling
figcaption.wp-caption-text
{
    color:$primary;
    font-weight:300;
    font-style: italic;
    padding:.8rem 0;
    font-size:0.8rem;
}

#content {
    background-color: $white;
}

.content__col-12 {
    padding-left: 0;
    padding-right: 0;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;

    iframe, object, embed { 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.entry-footer
{
    padding-bottom:2rem;
    padding-top:2rem;
}

// Theme overrides

.pagination
{
    justify-content: center;
}

.blog ul.pagination {
	padding-bottom: 20px;
}

.page-item.active .page-link
{
    background-color:$pink;
    border-color:$pink;
}

li.page-item {
	font-size: 1.25em;
}

.page-link
{
    color:$pink;
    border: none;
    padding:.5em 1em;
}

/* Custom CSS */

// Basic Table Styles - DON: We should pull out into a _table.scss file and BEMify to the extent possible
table.table-borderless {
    td {
        color:$teal;
        padding:1rem;
    }
}

.video-mobile-bg {
    background-image:url('https://staging4.mytruegirl.com/wp-content/uploads/2019/07/LiveEventsBkgd.jpg') !important;
    // DON: Very ugly hack here! We should clean up the shortcode for background videos
}

.about-page-heading
{
    //Extreme hack to move that pink heading for this specific page
    @media (min-width: 768px) {
        margin-left: -5rem !important;
        margin-top: -4.5rem !important;
    }
    @media (min-width: 993px) {
        margin-left: -4rem !important;
        margin-top: -4.5rem !important;
    }
}

/* Background Video Feature */
.background-video {

    width: 100%;
    position: relative;
    
    &__container {

        .wp-video {
            width: 100% !important;
        }
        .mejs-controls {
            display: none;
        }
    }

    &__text {
        z-index: 999;

        @media (max-width: 767px){
            margin-bottom: -20px;
            padding: 0 0 0 50px;
        }

        @media (min-width: 768px){
            position: absolute;
            top:80px;
            left:80px;
            .heading__on-pink 
            {
                font-size:2rem;
                line-height:60px;
                letter-spacing: 3px;
            }
        }
    }

    &__button {
        &--desktop {
            margin-top: 15px;
        }

        &--mobile {
            margin-top: -15px;
            font-size: 1.5rem;
        }
    }
}

// DON: We should move this into a _video-feature.scss file
.video_feature {
    margin-left:50px;
    margin-right:50px;
    @media (max-width:993px){
        margin-left: 0px;
        margin-right: 0px;
    }
    &__video {
        margin-bottom:1.5rem;
    }
    &__description {
        margin-top:1rem;
        margin-bottom:.5rem;
    }
    div.hr__inner {
        margin: .25rem auto .25rem 0 !important;
        // DON: This nexted selector/!important makes me feel icky :) I also added a --left-aligned modifier to the .hr__inner element, but using that right now would require shortcode changes, which I'm loathe to make at this point.
    }
}


.mejs-container:hover, .video_feature__video:hover {
    cursor: pointer;
}

.page-section__background-video {

    .mejs-container:hover {
        cursor: initial;
    }
}


.mejs-container,
.mejs-container .mejs-controls, .mejs-embed,
.mejs-embed body {
    width: 100% !important;
}

.mejs-iframe-overlay {
    iframe {
        width: 100%;
    }
}

/* Modal Video */
#bgVideoFeatureModal {

    .wp-video {
        width: 100% !important;
    }

    iframe {
        width: 100%;
    }
}

/* Correct <strong> boldness */

strong {
    font-weight: 900;
}

/* Mobile Sizing */

@media (max-width: 767px) {

    // .page-section__content-wrapper {
    //     padding-left: 0;
    //     padding-right: 0;
    // }

    .col, .col-sm-4, .col-sm-8, .col-md-4, .col-md-8 {
        &:not(.mobile-full-width) {
            padding: 0px 50px;
        }
    }

    #content>.row>.col-12 {
        padding: 0;
    }
}


.wp-block-column {

    @media (min-width: 600px){
        
        flex-basis: 100%;

        &:nth-child(2n){
            margin-left:inherit;
        }

    }
}

/* Mailchimp forms */

.mc-page-form {
    h2 {
        font-size: 30pt;
    }

    .mc4wp-form {
        width: 100%;

        .form-group .row div {
            margin-left: 2px;
            margin-right: 2px;
        }

        input {
            margin-bottom: 10px;


            @media (max-width:768px){
                &.button {
                    margin:auto;
                }
            }
        }

        .mc4wp-response, 
        .mc4wp-alert 
        .mc4wp-notice {
            color: $white;
            font-size: 1.25rem;

        }
    }
}

/* Text Feature */

.text-feature {
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-top:2rem;
    padding-bottom:2rem;
    &__inner
    {
        margin-top:2rem;
        margin-bottom:2rem;
    }
}

/* Section Headers */

.section-header {

    //@extend .col-12;

    display: table;
    text-align: center;
    height: 120px;

    &__10 {
        @extend .col-md-10;
        @extend .offset-md-1;
    }

    &__8 {
        @extend .col-md-8;
        @extend .offset-md-2;
    }

    &__6 {
        @extend .col-md-6;
        @extend .offset-md-3;
    }

    &__text {
        color: color(white);
        display: table-cell;
        font-family: font(shark);
        font-size : 48px;
        margin-bottom: 0;
        text-transform: uppercase;
        vertical-align: middle;
        padding: 2rem 5rem;
        letter-spacing: 6px; 
        // DON: I don't like hardcoding letter-spacing as part of the theme, but it's pretty necessary when using that Shark font to align with the comps. Maybe we pull into a setting?
        &--large {
            font-size: 75px;
            @media (max-width: 1200px ) {
                font-size:56px;
            }
            @media (max-width: 993px ) {
                font-size:48px;
                padding: 2rem 1rem;
            }
        }

        &--small {
            font-size: 36px;
        }

        //<small> inside of section header shortcode
        small {
            font-family: font(goudysans);
            font-size: 24px;
        }

    }
}

/* Testimonials */

.testimonial_small {
    margin-left:40px;
    margin-right:40px;
    @media (max-width:993px){
        margin-left: 20px;
        margin-right: 20px;
    }
    &__attribution {
        color: $pink;
        font-family: "Myriad Pro";
    }
}

/* Map Section */

.map-container {
    display: table-cell;
    margin: auto;
}

/* Layout Helpers */
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (margin: m, padding: p) {
      @each $size, $length in $spacers {

        .#{$abbrev}#{$infix}-n#{$size} { #{$prop}: $length !important; }
        .#{$abbrev}t#{$infix}-n#{$size},
        .#{$abbrev}y#{$infix}-n#{$size} {
          #{$prop}-top: -$length !important;
        }
        .#{$abbrev}r#{$infix}-n#{$size},
        .#{$abbrev}x#{$infix}-n#{$size} {
          #{$prop}-right: -$length !important;
        }
        .#{$abbrev}b#{$infix}-n#{$size},
        .#{$abbrev}y#{$infix}-n#{$size} {
          #{$prop}-bottom: -$length !important;
        }
        .#{$abbrev}l#{$infix}-n#{$size},
        .#{$abbrev}x#{$infix}-n#{$size} {
          #{$prop}-left: -$length !important;
        }
      }
    }
  }
}
