
@import "helpers";
@import "typography";
@import "testimonial";
@import "button";
@import "child_navbar";
@import "hero";
@import "icon-item";
@import "image-item";
@import "filter-button";
@import "page-section";
@import "post-preview";
@import "post-card";
@import "featured_post_carousel";
@import "post-intro";
@import "podcast-intro";
@import "podcast-row";
@import "post-block";
@import "pull-quote";
@import "featured-post";
@import "dotted-hr";
@import "post-thumb";
@import "post-image";
@import "event-summary";
@import "page-heading";
@import "page-hero";
@import "search-form";
@import "footer";
@import "page-wrapper";
@import "sidebar-cta-card";
@import "home-email-signup-form";
@import "wp-shopify";

body
{
    font-family:$body-font;
    padding-top:100px;
    background-image: url('../img/background-icons.png');
    background-repeat: repeat-y;
    background-size:100%;
    background-position: center top;
}

.wrapper
{
    padding-top:0px;
    padding-bottom:0px;
}

// WordPress-specific Styling
figcaption.wp-caption-text
{
    color:$primary;
    font-weight:300;
    font-style: italic;
    padding:.8rem 0;
    font-size:0.8rem;
}

body.admin-bar .fixed-top
{
    top:32px !important;
}

#content {
    background-color: $white;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;

    iframe, object, embed { 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.entry-footer
{
    padding-bottom:2rem;
    padding-top:2rem;
}

// Theme overrides

.pagination
{
    justify-content: center;
}

.page-item.active .page-link
{
    background-color:$pink;
    border-color:$pink;
}
.page-link
{
    color:$pink;
}

/* Custom CSS */



/* Nav Button */
.navbar {
    a[title='get tickets!'] {
        @extend .button;
        @extend .shadow;

        font-weight: bold;
        font-size: 1.6rem;

        @media (max-width: 1199px) {
            //@extend .button;
            padding: .5rem 2rem !important;
        }
    }

    margin-left: auto;

    @media (max-width: 1199px){
        margin-left: unset;
    }

}

@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:900;
    src:url(https://use.fontawesome.com/releases/v5.6.3/webfonts/fa-solid-900.eot);
    src:url(https://use.fontawesome.com/releases/v5.6.3/webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),url(https://use.fontawesome.com/releases/v5.6.3/webfonts/fa-solid-900.woff2) format("woff2"),url(https://use.fontawesome.com/releases/v5.6.3/webfonts/fa-solid-900.woff) format("woff"),url(https://use.fontawesome.com/releases/v5.6.3/webfonts/fa-solid-900.ttf) format("truetype"),url(https://use.fontawesome.com/releases/v5.6.3/webfonts/fa-solid-900.svg#fontawesome) format("svg");
}


.navbar-toggler-icon {
    //@extend .fas;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2rem;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color: $white;
    width: auto;
    height: auto;

    //@extend .fa-bars;
    &:before {
        content: "\f0c9";
    }
}

/* Background Video Feature */
.background-video {
    .overflow-right {
        position: absolute;
        z-index: 999;
    }
}
.background-video__container {
    .mejs-controls {
        display: none;
    }
}