/* Events page specific styles */

/* Events Page Hacks - Tim */

.events-hero
{
    padding-left: 0;
    padding-right: 0;
}

.events-hero-banner
{
    img
    {
        margin-top: 2.3rem;
        margin-bottom: 0;
    }

    .heading
    {
        margin-top: .6rem;
        margin-bottom: .6rem;
        font-size: 2.1rem;
        letter-spacing: 2px;
    }

    .hr__inner
    {
        margin: .8rem auto;
    }
}

.events-hero-header
{
    margin-top: 6%;

    .heading
    {
        font-size: 2.7rem;
        letter-spacing: 3px;
        line-height: 75px;
        padding: 8px 0;
    }

    a
    {
        padding: .6rem 1.75rem;
        font-weight: 700;
        font-size: 2.4rem
    }

    .mt-md
    {
        margin-top: 2.5rem !important;
    }
}

.events-header
{
    .section-header
    {
        height: auto;
        
        &__text
        {
            font-size: 4.5rem;
            padding: 0 5rem;
        }
    }

    h3
    {
        font-size: 2.5rem;
    }
}

.events-video-feature
{
    .video_feature
    {
        margin-right: 0;
    }

    .wp-video
    {
        margin-right: 2%;
        width: auto !important;
    }
 
    /* This font design is in a very tight window.. some added tablet - desktop responsiveness to the font size & margin helps */

    @media (min-width:768px)
    {
        p
        {
            margin-top: .5rem;
            font-size: 1rem;
        }

        a.button
        {
            font-size: 1rem;
        }
    }

    @media (min-width:961px) {
        p
        {
            margin-top: 1rem;
            font-size: 1.25rem;
        }

        a.button
        {
            font-size: 1.25rem;
        }
    }
    
    @media (min-width:1201px)
    {
        p
        {
            margin-top: 2rem;
            font-size: 1.5rem;
        }

        a.button
        {
            font-size: 1.5rem;
        }
    }

    @media (min-width:1381px)
    {
        p
        {
            margin-top: 3rem;
            font-size: 1.75rem;
        }     
    }
}

.events-header-sm
{
    .heading
    {
        margin-top: 0;
        margin-bottom: 3px;
        padding: 4px 10px 3px;
        letter-spacing: 2px;
    }
}

.events-3steps
{
    img
    {
        margin-bottom: 0;
    }

    &__title
    {
        font-size: 1.75rem;
        font-weight: 300;
        letter-spacing: 3px;
    }

    .heading.background-circle
    {
        width: 5rem;
        margin: 2rem auto;
        font-size: 4rem;
    }

    &__steps
    {
        padding-left: 9.33333%;
        padding-right: 9.33333%;
       
        h4
        {
            font-weight: 300;
            letter-spacing: 2px;
        }
       
        a.button
        {
            margin-top: 2rem;
        }
    }
}

.events-map {
    padding: 0 5%;
    &__header {
        img {
            margin-bottom: 8px;
        }
        h2 {
            font-size: 2.75rem;
            font-weight: 900;
            line-height: 1;
        }
        p {
            margin-top: 8px;
            font-size: 1.5rem;
        }
    }
}

.events-tickets {
    img {
        width: 12%;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .heading--lg {
        margin-bottom: 0;
    }
    p {
        font-size: 1.25rem;
        margin-top: 2.75rem;
        margin-bottom: 2.75rem;
    }
    .button {
        font-size: inherit;
    }
    @media (min-width:961px) {
       td {
            font-size: 1.25rem;
       }
    }
    @media (min-width:1201px) {
        td {
            font-size: 1.5rem;
        }
    }
    td {
        text-align: left;
    }
    &__montage {
        img {
            width: 100%;
        }
    }
}

.events-faq {
    .heading {
        margin: 2rem 0 2.25rem;
        letter-spacing: 5px;
    }
    &__button {
        margin-bottom: 2rem;
        
        img {
            margin: 0 auto;
        }

        a {
            margin: 5px 2% 0;
        }
    }
    &__arrow-left {
        @media (max-width: 600px) {
            display: none;
        }
    }
    &__arrow-right {
        @media (max-width: 770px) {
            display: none;
        }
    }
}