/* Frequently Asked Questions */

.faq {
	
}

.faq-item {
	@extend .card;
	@extend .border-0;

	background-color: transparent;
	&__header {
		//@extend .card-header;
	}

	&__button {
		//@extend .btn;
		@extend .btn-link;
		@extend .text-goudysans;
		@extend .text-pink;
		font-size: 1.5rem;
		border-color: transparent;
		&:hover, &:focus {
			color: $dark-pink;
			text-decoration: none;
		}
	}

	&__icon {

		@extend .fa-minus-square;
	}

	&__body {
		@extend .card-body;

		display: flex;
		flex-direction: row;

		&--a {
			@extend .text-goudysans;
			@extend .text-teal;
			font-size: 1.5rem;
			margin-left: 1rem;
		}

		&--answer {
			padding: 0 0.75rem;

		}
	}
}

.faq-item__button.collapsed {
	.faq-item__icon {
		@extend .fa-plus-square;
	}
}
