.product-feature {
	padding-left:2rem;
	padding-right:2rem;
	&__image {

		img {

		}
	}

	&__text {

		&__heading {
			color: $teal;
			font-weight: bold;

			@media(max-width: 767.98px){
				padding-top: 2rem;
			}
		}

		&__description {
			color: $teal;
		}
	}
}