
 .newsletter-signup
{
    //@extend .form-inline;
    display: flex;
    flex-direction: row;
    
    margin-bottom:1rem;

    @media (max-width: 767px){
        flex-direction: column;
    }

    &__control {
        @extend .col-md-3;
        padding-left: 5px;
        padding-right: 5px;
    }

    input {
        width: 100%;

        &[type="text"], &[type="email"]
        {
            //@extend .form-control;
            border-radius:0px;
            flex-basis:70%;
            border:none;
            font-size:0.8rem;
            padding:.75rem 1rem;
            //@extend .shadowed;
            border: 2px solid $light-gray;

            &:placeholder-shown, &:-webkit-input-placeholder, &:-ms-input-placeholder, &::placeholder {
                color: $light-gray;
            }
        }
        
        &.button
        {
            flex-basis:20%;
            //background-color:$rose;
            //color:white;
            border:none;
            font-weight:300;
            //@extend .shadowed;  
        }
    }
}

/*.home-email-signup-form
{

        display: flex;
        flex-direction: row;
        margin-bottom:1rem;
    &__input
    {
        //@extend .form-control;
        border-radius:0px;
        flex-basis:80%;
        border:none;
        font-size:0.8rem;
        padding:.75rem 1rem;
        //@extend .shadowed;
    }
    &__submit-button
    {
        //flex-basis:20%;
        //background-color:$rose;
        //color:white;
        //border:none;
        //font-weight:300;
        //@extend .shadowed;  
    }
}
*/