.icon-item
{
    @extend .col-md-3;
    display: block;
    
   &__icon
    {
        @extend .img-fluid;
        display: block;
        width: 150px;

        // max-width: 96px;
        
        margin:0px auto 15px auto;


        img {
            max-width: 150px;
            max-height: 80px;
            @media (max-width: 767.98px) {
                max-width: 250px;
                // width: 250px;
                //margin-top:5rem;
            }
        }
    }

    &__title
    {
        //font-family:$header-font;
        color:$teal;
        font-size:1.5rem;
        font-weight: bold;
        text-align: center;

        width: 150px;
        max-width: 100%;
        margin: auto;
    }
    &__content
    {
        color:$teal;
        text-align: center;
        font-size: 1.2rem;

        width: 150px;
        max-width: 100%;
        margin: auto;
    }
}

.icon-item:hover
{
    text-decoration: none;
}


@media (max-width: 767.98px) {
    .icon-item
    {
        margin-top:2.5rem;
        margin-bottom:2.5rem;
    }
    .icon-item:first-child
    {
        margin-top:0rem;
    }
    .icon-item:last-child
    {
        margin-bottom: 0rem;
    }

 }


 //group spacing hack
.home-featured-links {
    padding: 0 12%;
}