/* [su_page_section] styles */
.page-section
{
    /* Default Styles */
    padding-top:2rem; //was 4rem
    padding-bottom:2rem; //was 4rem
    padding-left: 7%;
    padding-right: 7%;
    justify-content: center;
    position: relative;

    @include media-breakpoint-down(sm)
    {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* Full Width Classes | full_width="xs,sm,md,lg,xl,dx" */
    @each $breakpoint in map-keys($grid-breakpoints)
    {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        &--full-width#{$infix}
        {
            @include media-breakpoint-down($breakpoint)
            {
                padding-left: 0;
                padding-right: 0;

                .page-section__content-wrapper
                {
                    margin-left: 0;
                    margin-right: 0;
                    padding-left: 0;
                    padding-right: 0;

                    //only the first level of rows
                    //other nested content should appear as normal
                    &>.row 
                    {
                        margin-left: 0;
                        margin-right: 0;
                    }        
                }
            }
        }
    }

    &__content-wrapper
    {
        //@extend .container;
        @extend #content;
        background-color: unset !important;
    }

    &__single-column
    {
        @extend .col-md-12;
    }

    &__single-column--narrow-center
    {
        @extend .col-lg-8;
        @extend .offset-lg-2;
        @extend .col-md-8;
        @extend .offset-md-2;
    }

    &__single-column-narrow
    {
        @extend .col-lg-8;
        @extend .offset-lg-2;
        @extend .col-md-8;
        @extend .offset-md-2;
    }

    &__single-column--narrow-left
    {
        @extend .col-md-6;
    }

    &__single-column--narrow-right
    {
        @extend .col-md-6;
        @extend .offset-md-6;
    }

    &__one-half-column
    {
        @extend .col-md-6;

        //if columns are stacked, put space between them
        &:first-child
        {
            @include media-breakpoint-down(sm)
            {                
                margin-bottom: 2rem;
            }
        }
    }

    &__one-third-column
    {
        @extend .col-md-4;

        //if columns are stacked, put space between them
        &:first-child, &:first-child+.page-section__one-third-column
        {
            @include media-breakpoint-down(sm)
            {                
                margin-bottom: 2rem;
            }
        }

    }

    &__two-third-column
    {
        @extend .col-md-8;
        
        //if columns are stacked, put space between them
        &:first-child
        {
            @include media-breakpoint-down(sm)
            {                
                margin-bottom: 2rem;
            }
        }
    }

    &__testimonial
    {
        padding-top: 3rem;
        padding-bottom: 0;
    }

    // Page Section Row
    .row {
        padding-bottom: 1rem;
    }

    &__overlay-image
    {
        position: absolute;
        top: 0;
        @media (max-width:993px)
        {
            display: none;
        }
    }

    &__background-video
    {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        padding-top: 56.25%;
        @media (max-width:993px)
        {
            display: none;
        }
    
        .wp-video
        {
            width: 100% !important;
            height: 100% !important;
        }

        .mejs-container
        {
            width: 100% !important;
            height: 100% !important;

            &:hover
            {
                cursor: initial;
            }
        }

        .mejs-overlay, .mejs-controls
        {
            display: none;
        }

        iframe
        {
            width: 100%;
            height: 100%;
        }

    }

    /* Tim aspect ratio vid hack. see https://css-tricks.com/aspect-ratio-boxes/ /*/
    &__full-video:before
    { 
        content: "";
        width: 1px;
        margin-left: -1px;
        float: left;
        height: 0;
        padding-top: 56.25%;
    }

    &__full-video:after
    { 
    content: "";
    display: table;
    clear: both;
    }

}

@each $color, $hex in $colors
{
   .background-#{$color}
   {
        background-color: $hex;
   }
}

.page-template-no-hero-advanced-white .page-section:first-of-type, .page-template-event-schedule .page-section:first-of-type, .page-template-hero-page .page-section:first-of-type
{
    padding-top:0rem;
}

//color variants

.page-section--dark
{
    color:white;
    a
    {
        color:white;
        font-weight:400;
    }
}

.page-section--teal
{
    background-color:$teal;
    color:white;
}

.page-section--light-teal
{
    background-color: $light-teal;
}

.page-section--white
{
    background-color:white;
}

.page-section--top-bg
{
    padding-top: 550px;
}

/* Events Page Hacks - Tim */

.events-hero
{
    padding-left: 0;
    padding-right: 0;
}

.events-hero-banner
{
    img
    {
        margin-top: 2.3rem;
        margin-bottom: 0;
    }

    .heading
    {
        margin-top: .6rem;
        margin-bottom: .6rem;
        font-size: 2.1rem;
        letter-spacing: 2px;
    }

    .hr__inner
    {
        margin: .8rem auto;
    }
}

.events-hero-header
{
    margin-top: 6%;

    .heading
    {
        font-size: 2.7rem;
        letter-spacing: 3px;
        line-height: 75px;
        padding: 8px 0;
    }

    a
    {
        padding: .6rem 1.75rem;
        font-weight: 700;
        font-size: 2.4rem
    }

    .mt-md
    {
        margin-top: 2.5rem !important;
    }
}

.events-header
{
    .section-header
    {
        height: auto;
        
        &__text
        {
            font-size: 4.5rem;
            padding: 0 5rem;
        }
    }

    h3
    {
        font-size: 2.5rem;
    }
}

.events-video-feature
{
    .video_feature
    {
        margin-right: 0;
    }

    .wp-video
    {
        margin-right: 2%;
        width: auto !important;
    }
 
    /* This font design is in a very tight window.. some added tablet - desktop responsiveness to the font size & margin helps */

    @media (min-width:768px)
    {
        p
        {
            margin-top: .5rem !important;
            font-size: 1rem;
        }

        a.button
        {
            font-size: 1rem;
        }
    }

    @media (min-width:961px) {
        p
        {
            margin-top: 1rem !important;
            font-size: 1.25rem;
        }

        a.button
        {
            font-size: 1.25rem;
        }
    }
    
    @media (min-width:1201px)
    {
        p
        {
            margin-top: 2rem !important;
            font-size: 1.5rem;
        }

        a.button
        {
            font-size: 1.5rem;
        }
    }

    @media (min-width:1381px)
    {
        p
        {
            margin-top: 3rem !important;
            font-size: 1.75rem;
        }     
    }
}

.events-header-sm
{
    .heading
    {
        margin-top: 0;
        margin-bottom: 3px;
        padding: 4px 10px 3px;
        letter-spacing: 2px;
    }
}

.events-3steps
{
    img
    {
        margin-bottom: 0;
    }

    &__title
    {
        font-size: 1.75rem;
        font-weight: 300;
        letter-spacing: 3px;
    }

    .heading.background-circle
    {
        width: 5rem;
        margin: 2rem auto;
        font-size: 4rem;
    }

    &__steps
    {
        padding-left: 1%;
        padding-right: 1%;
       
        h4
        {
            font-weight: 300;
            letter-spacing: 2px;
        }
       
        a.button
        {
            margin-top: 2rem;
        }
    }
}

.events-map {
    padding: 0 5%;
    &__header {
        img {
            margin-bottom: 8px;
        }
        h2 {
            font-size: 2.75rem;
            font-weight: 900;
            line-height: 1;
        }
        p {
            margin-top: 8px;
            font-size: 1.5rem;
        }
    }
}

.events-tickets {
    img {
        width: 12%;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .heading--lg {
        margin-bottom: 0;
    }
    p {
        font-size: 1.25rem;
        margin-top: 2.75rem;
        margin-bottom: 2.75rem;
    }
    .button {
        font-size: inherit;
    }
    @media (min-width:961px) {
       td {
            font-size: 1.25rem;
       }
    }
    @media (min-width:1201px) {
        td {
            font-size: 1.5rem;
        }
    }
    td {
        text-align: left;
    }
    &__montage {
        img {
            width: 100%;
        }
    }
}

.events-faq {
    .heading {
        margin: 2rem 0 2.25rem;
        letter-spacing: 5px;
    }
    &__button {
        margin-bottom: 2rem;
        
        img {
            margin: 0 auto;
        }

        a {
            margin: 5px 2% 0;
        }
    }
    &__arrow-left {
        @media (max-width: 600px) {
            display: none;
        }
    }
    &__arrow-right {
        @media (max-width: 770px) {
            display: none;
        }
    }
}

/* About Page Styles - Tim */

.about-hero {
    padding-top: 5rem;
    padding-bottom: 0;

    &__left-flower {
        position: absolute;
        z-index: 999;
        top: -35px;
        left: -135px;
    }
    &__video {
        .heading {

            letter-spacing: 3px;
            margin: 0;
            //Extreme hack to move that pink heading for this specific page
            @media (min-width: 768px) {
                margin-left: -5rem !important;
                margin-top: -4.5rem !important;
            }
            @media (min-width: 993px) {
                margin-left: -3.5rem !important;
                margin-top: -5.5rem !important;
            }
        }

        .embed-container {
            position: relative;
            z-index: 5;
            padding-top: 0;
        }
        .wp-video {
            margin-right: 2%;
            width: auto !important;
        }
    }
    &__right-flower {
        position: absolute;
        bottom: -15px;
        right: -60px;
        z-index: 0;
    }
}

.about-mission {
    padding-top: 0;
    padding-bottom: 0;
}

// Hacking styles for the statistics plugin (inline, so must use !important tag) -- Tim

.about-statistics {
    padding-top: 0;
    
    .statistics, .statistics-inner {
        padding-top: 0 !important;
    }

    .stat {
        margin-top: 0 !important;
        margin-bottom: 35px !important;
    }

    .count-title {
        padding: 0 10%;
        margin-bottom: 0 !important;
        margin-top: 10px !important;
        letter-spacing: 1px !important;
        font-weight: 900 !important;
    }
}

// General About Page Headings fixes - Tim -- MIGHT be duplicate somewhere we can change

.page-section {
    h1.section-header__text--large {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.mt-n6, .about-other {
    .heading {
        margin-top: 5px;
        font-size: 2rem;
        letter-spacing: 3px;
        font-weight: 300;
    }
}

// About Meet Dannah

.about-dannah {
    .page-section__one-third-column {
        padding-left: 0;
        padding-right: 0;
    }

    img {
        margin-top: 0;
    }

    .video_feature__description {
        max-width: 680px;
    }

    .hr__inner {
        width: 20% !important;
    }

    a.button {
        margin-top: 1rem;
    }
}

.about-boys {
    p {
        width: 70%;
        margin: 0 auto 1.75rem;
        font-weight: 700;
    }

    a.button {
        font-size: 1.5rem;
    }

    .wp-video {
        margin-bottom: 6rem;
    }
}

.about-faq {
    &__button {
        font-weight: 900;
        margin-bottom: 3rem;
  
  margin-bottom: 3rem;  }
}
