.page-section
{
    padding-top:2rem; //was 4rem
    padding-bottom:2rem; //was 4rem
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    position: relative;
    &__content-wrapper
    {
        //@extend .container;
        @extend #content;
        background-color: unset !important;
    }
    &__single-column
    {
        @extend .col-md-12;
    }
    &__single-column--narrow-center
    {
        @extend .col-lg-8;
        @extend .offset-lg-2;
        @extend .col-md-8;
        @extend .offset-md-2;
    }
    &__single-column-narrow
    {
        @extend .col-lg-8;
        @extend .offset-lg-2;
        @extend .col-md-8;
        @extend .offset-md-2;
    }
    &__single-column--narrow-left
    {
        @extend .col-md-6;
    }
    &__single-column--narrow-right
    {
        @extend .col-md-6;
        @extend .offset-md-6;
    }
    &__one-half-column
    {
        @extend .col-md-6;
    }
    &__one-third-column
    {
        @extend .col-md-4;

    }
    &__two-third-column
    {
        @extend .col-md-8;
        //@extend .col-md-12;
    }

    // Page Section Row
    .row {
        padding-bottom: 1rem;
    }

    &__overlay-image {
        position: absolute;
        top: 0;
        @media (max-width:993px) {
            display: none;
        }
    }

    &__background-video {
    
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding-top: 56.25%;
    @media (max-width:993px) {
        display: none;
    }
    
        .wp-video {
            width: 100% !important;
            height: 100% !important;
        }

        .mejs-container {
            width: 100% !important;
            height: 100% !important;

            &:hover {
                cursor: initial;
            }
        }

        .mejs-overlay, .mejs-controls {
            display: none;
        }

        iframe {
            width: 100%;
            height: 100%;
        }

    }

    /* Tim aspect ratio vid hack. see https://css-tricks.com/aspect-ratio-boxes/ /*/

    &__full-video:before { 
        content: "";
        width: 1px;
        margin-left: -1px;
        float: left;
        height: 0;
        padding-top: 56.25%;
    }

    &__full-video:after { 
    content: "";
    display: table;
    clear: both;
    }

}

@each $color, $hex in $colors {
   .background-#{$color} {
        background-color: $hex;
   }
}

.page-template-no-hero-advanced-white .page-section:first-of-type, .page-template-event-schedule .page-section:first-of-type, .page-template-hero-page .page-section:first-of-type
{
    padding-top:0rem;
}

//color variants

.page-section--dark
{
    color:white;
    a
    {
        color:white;
        font-weight:400;
    }
}

.page-section--teal
{
    background-color:$teal;
    color:white;
}

.page-section--light-teal
{
    background-color: $light-teal;
}

.page-section--white
{
    background-color:white;
}

.page-section--top-bg
{
    padding-top: 550px;
}