.post-preview
{
    @extend .card-deck;

    &__heading
    {
        @extend .text-goudysans;
        @extend .mb-2;
        @extend .text-left;
        letter-spacing: 3px;
        font-weight: bold;
    }

    &__card
    {
        @extend .card;
        @extend .border-0;


        @include media-breakpoint-down(sm)
        {
            flex-direction: column;
            flex: 1 0 100% !important;
            margin-bottom: 3rem !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }

        .card-body
        {
            @extend .text-left;
        }
    }

    &__image
    {
        padding-top: 56.15%;
        background-position: center center;
        background-size: cover;
    }

    &__title
    {
 
        color: $dark-gray;
        font-size:1rem;
        text-align: left;
        margin-top:0.5rem;
        margin-bottom:0.5rem;
        padding-left:0.5rem;
        padding-right:0.5rem;

        @include media-breakpoint-down(sm)
        {
            font-size: 1.5rem;
        }
    }

    &__button
    {
        @extend .button;
        @extend .button--medium;
        padding: .2rem 1rem;
    }

}
