.post-card
{
    @extend .card;
    //@extend .col-md-4;
    //@extend .col-sm-6;
    border: none;
    /*border: solid 5px white;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.2);*/
    /*margin: 15px;*/
    /*width: 335px;*/
   /* display: flex;
    border-radius:0px;*/

    /*&__heading
    {
        height:200px;
        background-color: #3d3d3d;
    }*/
    &__body
    {
        @extend .card-body;
        display: flex;
        flex-direction: column;
    }
    &__title
    {
        @extend .card-title;
        @extend .font-goudysans;
        @extend .text-center;
        font-size:1.3rem;
        color:$black;

    }
    &__text
    {
        @extend .card-text;
        @extend .font-goudysans;
        font-size:0.8rem;
        line-height:1.6;
        flex-grow:1;
    }
    &__link
    {
        color:$black;
    }
    &__card-button
    {
        @extend .button;
        @extend .button--small;
        display: inline-block;
    }
}

.post-card-row
{

    grid-template-columns: 1fr;
    
    justify-content: center;
    // flex-wrap: wrap;
    // display:flex;
    // @extend .row;
    
    display: grid;
    grid-gap: 10px;

    @include media-breakpoint-up(md) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}