.post-card
{
    @extend .card;

    border: none;

    //grid-column: 1/span 3;

    @include media-breakpoint-up(md) {
        //grid-column: unset;
    }

    &__heading {
        @extend .text-center;
    }
    
    &__body
    {
        @extend .card-body;
        display: flex;
        flex-direction: column;
    }
    &__title
    {
        @extend .card-title;
        @extend .font-goudysans;
        @extend .text-center;
        font-size:1.3rem;
        color:$black;

    }
    &__text
    {
        @extend .card-text;
        @extend .font-goudysans;
        font-size:0.8rem;
        line-height:1.6;
        flex-grow:1;
    }
    &__link
    {
        color:$black;
    }
    &__card-button
    {
        @extend .button;
        @extend .button--small;
        display: inline-block;
    }
}

.post-card-row
{

    grid-template-columns: 1fr 1fr;
    
    justify-content: center;
    // flex-wrap: wrap;
    // display:flex;
    // @extend .row;
    
    display: grid;
    grid-gap: 10px;

    @include media-breakpoint-up(md) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}