.post-intro
{
    @extend .row;
    margin-top:3rem;
    margin-bottom:2rem;
    &__author-wrapper
    {
        display: flex;
        justify-content: start;
        align-items: center;
    }
    &__author-photo
    {
        border-radius:100px;
        height:3rem;
        width:3rem;
        background-position: center center;
        background-repeat: no-repeat;
        background-size:cover;
        flex-basis: 3rem;
        margin-right:1rem;
    }
    &__byline
    {
        flex-basis:50%;
        line-height:1.3;
        color:$primary;
        font-size:0.8rem;
        margin-top:0;
        margin-bottom:0;
    }
    &__author-name
    {
        font-weight:600;
        display: block;
    }
    &__post-meta
    {
        @extend .col-md-6;
        @extend .order-md-1;
        text-align:left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__title
    {
        color:$pink;
        font-size:3.5rem;
    }
    &__post-image-wrapper
    {
        @extend .col-md-6;
        @extend .img-fluid;
        @extend .order-md-12;
        border-radius:6px;
    }
    &__post-image
    {
        border-radius:6px;
    }
    &__publish-date
    {
        text-transform: uppercase;
    }
}