
// Promoters page

.resource-category
{
	&__header
	{
		display: inline-block;
	}
}

#resource-nav
{
	.nav-link
	{
		color: $teal;

		&.active
		{
			color: $white;
		}
	}
}

.resource-list__section
{
	.container .js-wpv-view-layout
	{
		@extend .col-12;
	}
}