.search-form
{
    
    &__search-input
    {
        
        border-radius:0;
        //padding:1rem 2rem;
        //border: solid 1px #d2d2d2;
        width:100%;
        //font-size:1.5rem;
        //font-weight:300;
        
    }
    &__search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        @media (max-width: 767.98px) {
            font-size: 1rem;
        }
      }
      ::-moz-placeholder { /* Firefox 19+ */
        @media (max-width: 767.98px) {
            font-size: 1rem;
        }
      }
      :-ms-input-placeholder { /* IE 10+ */
        @media (max-width: 767.98px) {
            font-size: 1rem;
        }
      }
      :-moz-placeholder { /* Firefox 18- */
        @media (max-width: 767.98px) {
            font-size: 1rem;
        }
      }
    &__input-wrapper
    {
        //position: relative;
    }
    &__search-button
    {
        /*position: absolute;
        right:10px;
        top: 50%;
        transform: translateY(-50%);
        background-color:transparent;
        border:none;
        font-size:1.5rem;
        color:$gray;*/
    }
    

}