.testimonial
{
    font-family: $header-font;
    font-size:2.5rem;
    color:$light-brown;
    line-height: 3rem;
    background-image:url('../img/curly-brace-top.png'), url('../img/curly-brace-bottom.png');
    background-position: center top, center bottom;
    background-repeat: no-repeat, no-repeat;
    // background-size:contain, contain;
    background-size:300px;
    padding-top:5rem;
    padding-bottom:5rem;
    padding-left: 3rem;
    padding-right:3rem;
    @media (min-width: 768px) {
        padding-left: 4rem;
        padding-right:4rem;
        
    }
    @media (max-width:768px){
        // background-size:auto 200px, auto 200px;
        background-size: 200px;
        font-size:2rem;
        padding-top:3rem;
        padding-bottom:3rem;
    }

    &__source
    {
        text-transform: uppercase;
        font-size:1.3rem;
        font-weight:300;
        display: block;
        font-family: $body-font;
        margin-top:1.5rem;
        @media (max-width:768px){
            font-size:1rem;
        }
    }
    &__source-img
    {
        margin: 1rem auto;
        border-radius:100px;
        height:5rem;
        width:5rem;
        background-position: center center;
        background-repeat: no-repeat;
        background-size:cover;
    }
}

.testimonial--dark
{
    color:white;
    background-image:url('../img/curly-brace-top-white.png'), url('../img/curly-brace-bottom-white.png');
    background-color:$teal;
}