.bp-t {
    display: block;
    text-align: center;
}
.bp-t:before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-right: -.25em;
    vertical-align: middle;
}
.bp-t .wrp {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}